html
    head
    link(rel="stylesheet", href="/views/main.css")
body
    header
        nav
            li  
                a(href="/views/index.pug") Sesquipedalian
            li
                a(href="/views/2.pug") Perfidiousness
            li
                a(href="/views/3.pug") Penultimate
            li
                a(href="/views/4.pug") Circumlocution
            li
                a(href="/views/5.pug") Bellwether

