html
    head
    link(rel="stylesheet", href="/views/main.css")
    
body
    header
        nav
            li  
               a(href="/") Sesquipedalian
            li
                a(href="/2") Perfidiousness
            li
                a(href="/3") Penultimate
            li
                a(href="/4") Circumlocution
            li
                a(href="/5") Bellwether

        p= word.definitions
    script(src="/app.js")

